__pycache__
c2/
ml/courseera/dl_specialization/RNN/W4A2_UGL/*
ml/courseera/dl_specialization/RNN/W4A3_UGL/*
ml/courseera/dl_specialization/RNN/W4A4_UGL_POS/glove/*
ml/courseera/dl_specialization/Coursera UY15SEHGCF7I.pdf
.DS_Store
venv_cnn
.ipynb_checkpoints

resnet50.data-00000-of-00001
resnet50.h5
road_video.mp4
pred_video.mp4
variables.data-00000-of-00001
imagenet-vgg-verydeep-19.mat
vgg19_weights_tf_dim_ordering_tf_kernels_notop.h5
